<link rel="stylesheet" href="/styles_css/css_alvaro/css_alvaro.css" type="text/css" />
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="https://sos1718-09.herokuapp.com/#!/">Spanish Universities</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://sos1718-09.herokuapp.com/#!/spanishUniversities">Data list <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://sos1718-09.herokuapp.com/#!/spanishUniversitiesGraphs">Analytics</a>

        </ul>
        <form class="form-inline my-2 my-lg-0">

            <button class="btn btn-secondary my-2 my-sm-0" ng-click="searchUniversity1()">Search</button>

        </form>
    </div>
</nav>

<table class="table">

    <thead>
        <tr>
            <th>Autonomous Community<a target="_blank" title="Check the codes of autonomous communities in wikipedia!" href="https://en.wikipedia.org/wiki/ISO_3166-2:ES"><img src=/spanishUniversities/images_alvaro/info2.png width="10" height="10"></a></th>
            <th>Year Fundation</th>
            <th>Headquarters</th>
            <th>Type</th>
            <th>University name</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td><input class="form-control" placeholder="ej: ES-AN" ng-model="newUniv.autCommunity" /></td>
            <td><input class="form-control" placeholder="ej: 1505" ng-model="newUniv.yearFund" /></td>
            <td><input class="form-control" placeholder="ej: Sevilla" ng-model="newUniv.headquar" /></td>
            <td><input class="form-control" placeholder="ej: publica" ng-model="newUniv.type" /></td>
            <td><input class="form-control" placeholder="ej: Universidad de sevilla" ng-model="newUniv.nameUniversity" /></td>
            <td><button class="button btn-outline-success btn-lg" ng-click="addUniv()"> Add</button></td>

        </tr>
        <tr ng-repeat="univ in univs">
            <td><a href="/#!/spanishUniversities/univ/{{univ.autCommunity}}/{{univ.yearFund}}">{{univ.autCommunity}}</a></td>
            <td>{{univ.yearFund}}</td>
            <td>{{univ.headquar}}</td>
            <td>{{univ.type}}</td>
            <td>{{univ.nameUniversity}}</td>

            <td>
                <button class="btn btn-outline-primary btn-sm" ng-click="deleteUniv(univ.autCommunity,univ.yearFund)">Delete</button>
            </td>
        </tr>
    </tbody>


</table>
<div>
    <ul class="pagination">
        <button class="btn btn-outline-secondary" ng-click="previousPage()"><i>Previous Page</i></button>
        <button class="btn btn-outline-secondary" ng-click="nextPage()"><i>Next Page</i></button>

    </ul>
</div>




<button ng-click="deleteAllUnivs() " class="btn btn-primary btn-sm">Delete all</button>
<button ng-click="loadInitialData() " class="btn btn-warning btn-sm">Load Initial Data</button>





<!-- MODAL UNIVERSIDAD INSERTADA  CORRECTAMENTE-->

<div class="modal fade" id="added" tabindex="-1" role="dialog" aria-labelledby="v1label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body"><img src="/spanishUniversities/images_alvaro/check.png" width="50" height="50"></img>

                    University added correctly!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL LOAD INITIAL DATA-->

<div class="modal fade" id="addedAll" tabindex="-1" role="dialog" aria-labelledby="v1label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body"><img src="/spanishUniversities/images_alvaro/bd.png" width="50" height="50"></img>

                    Initial data has been charged correctly!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL UNIVERSIDAD BORRADO -->

<div class="modal fade" id="deleted">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body">
                    University has been deleted successfully!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- FALLO EN INSERCION UNIVERSIDAD POR CAMPOS NO ESPERADOS -->

<div class="modal fade" id="fail_400" tabindex="-1" role="dialog" aria-labelledby="v1label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body"><img src="/images_alvaro/fail.png" width="50" height="50"></img>
                    University does not have expected fields
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- FALLO EN INSERCION UNIVERSIDAD = YA EXISTE!  -->

<div class="modal fade" id="fail_409" tabindex="-1" role="dialog" aria-labelledby="v1label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body"><img src="/images_alvaro/fail.png" width="50" height="50"></img>
                    University already exists!!!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- PREGUNTA BORRAR TODO-->

<div class="modal fade" id="deleteAll" tabindex="-1" role="dialog" aria-labelledby="v1label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body"><img src="/images_alvaro/warning.png" width="50" height="50"></img>
                    Are you sure that you want to delete all universities?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-successfully" id="yes" data-dismiss="modal" relatedTarget="yes" ng-click="deleteAllUnivs2()">Confirm</button>

                    <button type="button" class="btn btn-primary" id="no" data-dismiss="modal">Deny</button>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- CONFIRMACION BORRAR TODO-->

<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="v1label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body"><img src="/images_alvaro/check.png" width="50" height="50"></img>

                    All universities has been deleted correctly!!!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- FORMULARIO BUSQUEDAS-->

<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="v1label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <div class="modal-body">
                    <td>Autonomous Community<input class="form-control" ng-model="searchForm.autCommunity" /></td>
                    <td>Year of Fundation<input class="form-control" ng-model="searchForm.yearFund" /></td>
                    <td>Headquarters<input class="form-control" ng-model="searchForm.headquar" /></td>
                    <td>Type<input class="form-control" ng-model="searchForm.type" /></td>
                    <td>University name<input class="form-control" ng-model="searchForm.nameUniversity" /></td>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="searchUniversity2()">Search</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- NOT FOUND-->

<div class="modal fade" id="notFound" tabindex="-1" role="dialog" aria-labelledby="v1label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body"><img src="/images_alvaro/fail.png" width="50" height="50"></img>
                    There is no university with those search fields !!!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>
 