<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Spanish Universities</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Data list <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://sos1718-09-ajr-sos171809ajr.c9users.io/spanishUniversities/#!/graphs">Analytics</a>

        </ul>
        <form class="form-inline my-2 my-lg-0">

            <button class="btn btn-secondary my-2 my-sm-0" ng-click="searchUniversity1()">Search</button>

        </form>
    </div>
</nav>
<center>
    <h1><strong>SPANISH UNIVERSITIES CHARTS</strong></h1>
</center>
<!--  CHARTS  -->

<div id="container" style="margin: 0 auto; width: 900px; height: 500px;"></div>
</br>
</br>
</br>
</br>
</br>
<div id="regions_div" style="width: 900px; height: 500px;"></div>
</br>
<center>
    <td><button class="btn-floating btn-small waves-effect waves-light red" ng-click="return()"><i class="material-icons">arrow_back</i></button></td>
</center>
