<h1>Spanish Universities List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Autonomous Community</th>
            <th>Year Fundation</th>
            <th>Headquarters</th>
            <th>Type</th>
            <th>University name</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newUniv.autCommunity" /></td>
            <td><input class="form-control" ng-model="newUniv.yearFund" /></td>
            <td><input class="form-control" ng-model="newUniv.headquar" /></td>
            <td><input class="form-control" ng-model="newUniv.type" /></td>
            <td><input class="form-control" ng-model="newUniv.nameUniversity" /></td>

            <td><button class="button btn-primary btn-lg" ng-click="addUniv()"> Add</button></td>

        </tr>
        <tr ng-repeat="univ in univs">
            <td><a href="/spanishUniversities/#!/univ/{{univ.autCommunity}}/{{univ.yearFund}}">{{univ.autCommunity}}</a></td>
            <td>{{univ.yearFund}}</td>
            <td>{{univ.headquar}}</td>
            <td>{{univ.type}}</td>
            <td>{{univ.nameUniversity}}</td>

            <td><button class="button btn-danger" ng-click="deleteUniv(univ.autCommunity,univ.yearFund)">Delete</button></td>
        </tr>
        <tr>
            <td><button ng-click="deleteAllUnivs()" class="button btn-danger btn-xs">Delete all</button></td>
        </tr>
    </tbody>
</table>
<hr/>
<br/>
<b><i>{{status}}</i></b>
