<center>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Spanish Universities Stats List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>

            </ul>
            <form class="form-inline my-2 my-lg-0">

                <button class="btn-floating btn-large waves-effect waves-light green" ng-click="searchStat()"><i class="material-icons">search</i></button>

            </form>
        </div>
    </nav>
    <div>
        <button class="waves-effect waves-light btn-small" ng-click="previousPage()"><i class="material-icons left">navigate_before</i></button>
        <button class="waves-effect waves-light btn-small" ng-click="nextPage()"><i class="material-icons right">navigate_next</i></button>
        <label>Page Number: <input ng-model="currentPage" type="number" min="1"/></label>
        <button class="waves-effect waves-light btn-small" ng-click="findPage()"><i class="material-icons right">find_in_page</i></button>
    </div>
</center>
<table class="table">

    <thead>
        <th>AutCommunity</th>
        <th>Year</th>
        <th>Enrolled Number</th>
        <th>Degree</th>
        <th>Master</th>
        <th>First-Second Cycle</th>
        <th>Actions</th>
    </thead>

    <tbody>
        <tr>
            <td><input placeholder=" Ej.: andalucia" class="form-control" type="text" ng-model="newStat.autCommunity" /></td>
            <td><input placeholder=" Ej.: 2016" class="form-control" type="number" min="1" ng-model="newStat.year" /></td>
            <td><input placeholder=" Ej.: 123" class="form-control" type="number" min="1" ng-model="newStat.enrolledNumber" /></td>
            <td><input placeholder=" Ej.: 123" class="form-control" type="number" min="1" ng-model="newStat.degree" /></td>
            <td><input placeholder=" Ej.: 123" class="form-control" type="number" min="1" ng-model="newStat.master" /></td>
            <td><input placeholder=" Ej.: 123" class="form-control" type="number" min="1" ng-model="newStat.firstSecondCycle" /></td>
            <td><button class="btn btn-primary" ng-click="addStat()">ADD</button></td>

        </tr>
        <tr ng-repeat="stat in stats">
            <td><a href="/spanUnivStats/#!/stat/{{stat.autCommunity}}/{{stat.year}}">{{stat.autCommunity}}</a></td>
            <td>{{stat.year}}</td>
            <td>{{stat.enrolledNumber}}</td>
            <td>{{stat.degree}}</td>
            <td>{{stat.master}}</td>
            <td>{{stat.firstSecondCycle}}</td>
            <td><button class="btn-floating btn-small waves-effect waves-light red" ng-click="deleteStat(stat.autCommunity,stat.year)"><i class="material-icons">delete</i></button></td>
        </tr>
        <tr>
            <td><button type="button"  class="waves-effect waves-light btn red" ng-click="deleteAllStats()">DELETE ALL</button></td>
        </tr>
        <tr>
            <td><label class="form-control"><b><i>Autonomous Community</i></b></label><input class="form-control" name="autcom" type="text" ng-model="searchedStat.autCommunity" /></td>
            <td><label class="form-control"><b><i>Year</i></b></label><input class="form-control" type="number" min="1" ng-model="searchedStat.year" /></td>
            <td><label class="form-control"><b><i>Enrolled Number</i></b></label><input class="form-control" type="number" min="1" ng-model="searchedStat.enrolledNumber" /></td>
            <td><label class="form-control"><b><i>Degree</i></b></label><input class="form-control" type="number" min="1" ng-model="searchedStat.degree" /></td>
            <td><label class="form-control"><b><i>Master</i></b></label><input class="form-control" type="number" min="1" ng-model="searchedStat.master" /></td>
            <td><label class="form-control"><b><i>First-Second Cycle</i></b></label><input type="number" min="1" ng-model="searchedStat.firstSecondCycle" /></td>
            <td><label class="form-control"><b><i>From(Year)</i></b></label><input class="form-control" type="number" min="1" ng-model="searchedStat.from" /></td>
            <td><label class="form-control"><b><i>To(Year)</i></b></label><input class="form-control" type="number" min="1" ng-model="searchedStat.to" /></td>
            
        </tr>
    </tbody>
</table>
<hr/>
<br/>
<b><i>{{status}}</i></b>
