<center>
    <h1 style="background-color:black">
        <font color=white>Spanish Universities Stats List</font>
    </h1>
    <button class="waves-effect waves-light btn-small" ng-click="previousPage()"><i class="material-icons left">navigate_before</i></button>
    <button class="waves-effect waves-light btn-small" ng-click="nextPage()"><i class="material-icons left">navigate_next</i></button>
</center>
<table class="table">

    <thead>
        <th>AutCommunity</th>
        <th>Year</th>
        <th>Enrolled Number</th>
        <th>Degree</th>
        <th>Master</th>
        <th>First-Second Cycle</th>
        <th>Actions</th>
    </thead>

    <tbody>
        <tr>
            <td><input class="form-control" type="text" ng-model="newStat.autCommunity" /></td>
            <td><input class="form-control" type="number" ng-model="newStat.year" /></td>
            <td><input class="form-control" type="number" ng-model="newStat.enrolledNumber" /></td>
            <td><input class="form-control" type="number" ng-model="newStat.degree" /></td>
            <td><input class="form-control" type="number" ng-model="newStat.master" /></td>
            <td><input class="form-control" type="number" ng-model="newStat.firstSecondCycle" /></td>
            <td><button class="btn btn-primary" ng-click="addStat()">ADD</button></td>

        </tr>
        <tr ng-repeat="stat in stats">
            <td><a href="/spanUnivStats/#!/stat/{{stat.autCommunity}}/{{stat.year}}">{{stat.autCommunity}}</a></td>
            <td>{{stat.year}}</td>
            <td>{{stat.enrolledNumber}}</td>
            <td>{{stat.degree}}</td>
            <td>{{stat.master}}</td>
            <td>{{stat.firstSecondCycle}}</td>
            <td><button class="btn btn-danger" ng-click="deleteStat(stat.autCommunity,stat.year)">DELETE</button></td>
        </tr>
        <tr>
            <td><button ng-click="deleteAllStats()" class="btn btn-danger">DELETE ALL</button></td>
        </tr>
        <tr>
            <td><label class="form-control"><b><i>Autonomous Community</i></b></label><input class="form-control" name="autcom" type="text" ng-model="searchedStat.autCommunity" /></td>
            <td><label class="form-control"><b><i>Year</i></b></label><input class="form-control" type="number" ng-model="searchedStat.year" /></td>
            <td><label class="form-control"><b><i>Enrolled Number</i></b></label><input class="form-control" type="number" ng-model="searchedStat.enrolledNumber" /></td>
            <td><label class="form-control"><b><i>Degree</i></b></label><input class="form-control" type="number" ng-model="searchedStat.degree" /></td>
            <td><label class="form-control"><b><i>Master</i></b></label><input class="form-control" type="number" ng-model="searchedStat.master" /></td>
            <td><label class="form-control"><b><i>First-Second Cycle</i></b></label><input type="number" ng-model="searchedStat.firstSecondCycle" /></td>
            <td><label class="form-control"><b><i>From(Year)</i></b></label><input class="form-control" type="number" ng-model="searchedStat.from" /></td>
            <td><label class="form-control"><b><i>To(Year)</i></b></label><input class="form-control" type="number" ng-model="searchedStat.to" /></td>
            <br/>
            <td><button class="btn-floating btn-large waves-effect waves-light green" ng-click="searchStat()"><i class="material-icons">search</i></button></td>
        </tr>
    </tbody>
</table>
<hr/>
<br/>
<b><i>{{status}}</i></b>
