<div class="container-fluid text-center">
    <div class="row">
        <div class="col-xl-8">
            <h1>
                <a href="#!">Open Source contests APP</a>
            </h1>
        </div>
    </div>
    <div ng-bind-html="status"></div>
    <div class="row">
        <div class="col-xl-12">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Project</th>
                        <th scope="col">University</th>
                        <th scope="col">Year</th>
                        <th scope="col">AutCommunity</th>
                        <th scope="col">City</th>
                        <th scope="col">Description</th>
                        <th scope="col">Team</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">{{contest.project}}</td>
                            <td scope="col">{{contest.university}}</td>
                            <td scope="col">{{contest.year}}</td>
                            <td scope="col">{{contest.autCommunity}}</td>
                            <td scope="col">{{contest.city}}</td>
                            <td scope="col">
                                <textarea rows="4" cols="50" ng-model="contest.description"></textarea>
                            </td>
                            <td scope="col">
                                <div ng-repeat="member in contest.team">{{member.member}},</div>
                            </td>
                            <td scope="col">
                                <button class="btn btn-secondary" ng-click="updateContest(contest)">Update .</button>
                                <button class="btn btn-warning" ng-click="removeContest(contest)">Remove</button>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>